useDynLib(ForgottenSiblings)

export(getWaveletCoefficients)
export(revertWaveletCoefficients)
export(embed_watermark)
export(detect_watermark)

export(readImage)
export(plotGreymap)
export(just_load_fulldataset)
export(get_my_datasets)
#export(datalabel_check)

export(getpreprocessor)
export(doprep)
export(invprep)

export(get_src_imageindex_andpair)
export(do_watermark_attack)
export(computePSNR)

import(Rcpp)
import(keras)
import(tensorflow)
import(jpeg)
import(png)
